<header class="header ">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 header-info">
                <a class="mr-3">{{headerData.email}}</a>
                <span>{{headerData.phone}}</span>
            </div>
            <div class="header-buttons col-md-6 d-flex justify-content-end">
                {% if user.is_authenticated %}
                <a class="btn btn-accent mr-3" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="btn btn-accent " href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-accent mr-3" href="{% url 'login' %}">Login</a>
                <a class="btn btn-accent " href="{% url 'register' %}">Create account</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>